@use "reset";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100vh;
  height: 100dvh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.app {
  overflow: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  height: 100dvh;

  .anim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }
  .logo-background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    opacity: 1;
    z-index: 0;
    filter: blur(0px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0) 50%
    );
    object-fit: cover;
  }

  .header {
    position: relative;
    width: 100%;
    height: 15vh;
    height: 15dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 3;

    .logo {
      z-index: 4;
      width: 10rem;
      text-align: center;
      filter: drop-shadow(-3px 4px 4px rgba(43, 43, 43, 0.781));
      animation: slideIn 2s ease;
    }

    .title {
      z-index: 2;
      font-size: 1.8rem;
      color: rgb(255, 255, 255);
      margin-top: 0;
      margin-bottom: 0.5rem;
      animation: slideIn 3s ease-out;
      margin-left: 12rem;
      font-weight: 500;
      font-style: italic;
      filter: drop-shadow(-2px 2px 2px rgba(43, 43, 43, 0.781));
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
    overflow: hidden;
    z-index: 3;

    .description-wrapper {
      z-index: 3;
      width: 100%;
      margin: 2rem auto;
      height: 100%;
      display: flex;
      justify-content: center;

      .description {
        position: relative;
        width: 50%;
        /*   height: fit-content; */
        /*   max-height: 60dvh; */
        height: auto;
        overflow-y: auto;
        /* Nécessaire pour positionner le pseudo-élément */
        background: conic-gradient(at top left, #27272a, #52525b, #a1a1aa);
        overflow: hidden;
        color: rgb(255, 255, 255);
        text-align: center;
        display: flex;
        font-weight: 500;
        padding: 2rem 1rem;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 1rem;
        box-shadow: -5px 15px 30px 0px rgba(0, 0, 0, 0.62);

        .description-content {
          overflow-y: auto;
          scrollbar-width: none;

          .sub-title {
            margin: auto;
            /*   margin-top: 3rem; */
            font-size: 2rem;
            width: fit-content;
            /*  margin-top: 5rem; */

            background-image: linear-gradient(
              to bottom right,
              #a69cbb,
              #65a9dd,
              #988db1
            );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
          }

          .text {
            font-size: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
          }

          .tech-logo-container {
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin-top: 1rem;
            margin-bottom: 3rem;

            .tech-logo {
              width: inherit;

              .tech-logo-name {
                font-size: 1rem;

                font-weight: 500;
                color: #ffffff;
              }
            }
          }

          .icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 1rem 0;
            width: 100%;

            .link {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              text-decoration: none;
              color: #ef7402;

              .logo-toupro {
                max-width: 50px;
                margin-right: 0.5rem;
                height: auto;
              }
            }
          }
        }
      }

      .contact {
        margin: 1rem auto 3rem auto;
        font-size: 2rem;
        width: fit-content;

        background-image: linear-gradient(
          to bottom right,
          #1bbde6,
          #56eb51,
          #18c2b4
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        .form {
          width: 100%;
          max-width: 50rem;
          margin: 2rem auto;
          padding: 1rem;
          height: 100%;
          /* Centrer le formulaire horizontalement */

          .form-label {
            display: block;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            background-image: linear-gradient(
              to bottom right,
              #e6951b,
              #daba9d,
              #0fd2ec
            );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            /* Couleur sombre pour un bon contraste */
          }

          .form-input,
          .form-textarea {
            width: 100%;
            padding: 0.75rem 1rem;
            border: 1px solid #d0d0d0;
            border-radius: 8px;
            font-size: 1rem;
            font-family: inherit;
            color: #ffffff;

            background-color: transparent;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: 1.5rem;
            /* Espacement entre les champs */
          }

          .form-input,
          .form-textarea {
            width: 100%;
            padding: 0.75rem 1rem;
            border: 1px solid #d0d0d0;
            border-radius: 8px;
            font-size: 1rem;
            font-family: inherit;
            color: #ffffff;

            background-color: transparent;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
            margin-bottom: 1.5rem;
            /* Espacement entre les champs */
          }

          .form-input:focus,
          .form-textarea:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            /* Effet visuel doux */
            outline: none;
          }

          .form-textarea {
            resize: none;
            /* Empêche le redimensionnement */
            height: 150px;
            /* Taille fixe pour le champ texte */
          }

          .form-button-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .form-button {
              position: relative;
              width: 130px;
              height: 50px;
              background-color: #217fd8;
              display: flex;
              align-items: center;
              color: white;
              flex-direction: column;
              justify-content: center;
              border: none;
              font-size: 1rem;
              padding: 12px;
              gap: 12px;
              border-radius: 8px;
              cursor: pointer;
            }

            .form-button::before {
              content: "";
              position: absolute;
              inset: 0;
              left: -4px;
              top: -1px;
              margin: auto;
              width: 138px;
              height: 58px;
              border-radius: 10px;
              background: linear-gradient(-45deg, #442977 0%, #65a9dd 100%);
              z-index: -10;
              pointer-events: none;
              transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .form-button::after {
              content: "";
              z-index: -1;
              position: absolute;
              inset: 0;
              background: linear-gradient(-45deg, #6d4ea5 0%, #79c0f7 100%);
              transform: translate3d(0, 0, 0) scale(0.95);
              filter: blur(20px);
            }

            .form-button:hover::after {
              filter: blur(30px);
            }

            .form-button:hover::before {
              transform: rotate(-180deg);
            }

            .form-button:active::before {
              scale: 0.7;
            }

            .form-button:hover {
              background-color: #000000;
              transform: scale(1.02);
              /* Légère augmentation de taille au survol */
            }

            .form-button:active {
              transform: scale(0.98);
              /* Réduction subtile pour effet de clic */
            }
          }
        }
      }
    }

    .logo-wrapper {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      margin-bottom: 2rem;
      justify-content: center;
      gap: 10rem;
      height: fit-content;

      .logo-home,
      .logo-mail {
        z-index: 3;
        width: 5rem;
        /*   background-color: #ffffff00; */
        display: flex;
        justify-content: center;
        /* Centre l'image horizontalement */
        align-items: center;
        transition: transform 0.1s ease-in-out;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.308));
        }
      }

      .logo-home:hover,
      .logo-mail:hover {
        transform: scale(1.2);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5dvh;

    background: conic-gradient(at top left, #27272a, #52525b, #a1a1aa);
    color: rgb(255, 255, 255);
    text-align: center;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    );

    .copy {
      font-size: 1rem;
      font-weight: 500;
      animation: slideIn 2s ease;
      margin: 0;
      align-content: center;
    }
  }
}

@media (max-width: 800px) {
  body {
    overflow: auto;
  }

  .app {
    display: grid;
    grid-template-rows: 15dvh auto;
    overflow: hidden;
  }

  .header {
    grid-row: 1;
    z-index: 2;
  }

  .content {
    grid-row: 2;
    overflow-y: auto;
    /* Permet le scroll vertical uniquement dans le content */
    overflow-x: hidden;
    display: flex;
    /* Active Flexbox */
    flex-direction: column;
    /* Aligne les enfants en colonne */
  }

  .description {
    width: 99%;
    flex-shrink: 0;

    overflow: hidden;
  }
}
